/* No custom styles for App.css, using Tailwind CSS */

.clip-path-initial {
  clip-path: circle(100px at 50% 50%); /* Initial size for 200px diameter image */
}

.clip-path-final {
  clip-path: circle(70px at 50% 50%); /* Final size for 140px diameter image */
}

.transition-clip-path {
  transition: clip-path 1s ease-out;
}
