@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles can be added here if needed, but ensure they don't conflict with Tailwind's base styles */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}

.text-108px {
  font-size: 108px;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite; /* Adjust duration as needed */
}


@keyframes slide-in {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

.animate-slide-in {
  animation: slide-in 0.5s forwards;
}

.animate-slide-out {
  animation: slide-out 0.5s forwards;
}
